<div style="text-align:center">
  <p class="title"> 🏆 ALC Currency Converter 🏆</p>
  <p>💲😎💲</p>

  <mat-card class="card">
    <div class="packaging">

      <div class="section"> 
        <div class="wrapper">
          <div class="row">
              1 {{ c1 }} equals {{ rate }} {{ c2 }}
          </div>
  
          <div class="row">
            
            <div class="inside">
              <div class="division">
                <mat-form-field style="width:100px !important">
                  <input matInput [(ngModel)]="n1" (keyup)="onInputOne()">
                </mat-form-field> 
              </div>
  
              <div class="division">
                <mat-form-field>
                  <mat-select [(value)]="c1" (selectionChange)="onSelect()">
                    <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                      {{currency.currencyName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
                
          </div>
  
          <div class="row">
            
            <div class="inside">
              <div class="division">
                <mat-form-field style="width:100px !important">
                  <input matInput [(ngModel)]="n2" (keyup)="onInputTwo()">
                </mat-form-field> 
              </div>
  
              <div class="division">
                <mat-form-field>
                    <mat-select [(value)]="c2" (selectionChange)="onSelect()">
                      <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                        {{currency.currencyName}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
            </div>
                
          </div>
        </div>
      </div>

      <div class="section" style="height:initial">
        <img src="{{chart}}" alt="chart" class="chart">
      </div>

    </div>
  </mat-card>
</div>
